@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
	/* background-color: #ebeef4; */
	/* background-color: #f5f8fa; */
	font-size: 14px;
	position: relative;
	font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 576px) {
	.settingaction .btn-group {
		width: 100%;
	}

	.settingaction .btn {
		width: 100%;
	}
}

svg {
	display: inline-block;
}

.zIndex-1000 {
	z-index: 1000;
}

.cursor-pointer {
	cursor: pointer;
}

.w-100-310px {
	width: calc(100% - 310px);
}

.min-w-0 {
	min-width: 0;
}

.flex-1 {
	flex: 1;
}

a.uppy-Dashboard-poweredBy {
	display: none;
}

.dropdown.dropdown-noarrow .dropdown-toggle::after {
	display: none;
}

.swal2-actions {
	gap: 0.5rem;
}

.sticky-mobile {
	position: sticky;
	top: 80px;
}

.spy-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0.5rem;
	margin-bottom: 0;
	list-style: none;
}

.spy-item {
	margin-right: 0;
}

.spy-link {
	display: flex;
	align-items: center !important;
	white-space: nowrap;
	font-size: 0.875rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: -0.5rem;
	border: 0.0625rem solid transparent;
	border-left: 0.1875rem solid transparent;
	border-bottom: 0.1875rem solid transparent;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	text-decoration: none;
	padding: 0.5rem 1rem;
	color: #132144;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
	background: 0 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-color: transparent;
	border-right-color: transparent;
}

.spy-link i {
	flex: 0 0 1.9375rem;
}

.spy-link:hover {
	color: #1366ff;
	isolation: isolate;
}

.spy-link.active {
	border-color: #377dff;
	font-weight: 600;
	color: #377dff;
	background-color: transparent;
}

.rct-node-icon {
	display: inline-flex;
}

.rct-node-clickable {
	display: flex;
	align-items: center;
}

.command-palette {
	z-index: 1060;
}

.command-palette img.icon-sys {
	width: 1.5rem;
	height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
	.command-palette .dark\:bg-gray-900 {
		--tw-bg-opacity: 1;
		background-color: rgb(17 24 39 / var(--tw-bg-opacity)) !important;
	}
}

.accordion {
	--bs-accordion-border-radius: 9px;
	--bs-accordion-inner-border-radius: 9px;
}

.offcanvas {
	--bs-offcanvas-width: 500px;
}

.offcanvas-header {
	color: #fff !important;
	background-color: rgba(13, 110, 253, 1) !important;
}

.offcanvas-header + .offcanvas-header {
	background-color: rgba(0, 0, 0, 0.03) !important;
}

.offcanvas-header + .offcanvas-header.offcanvas-primary {
	background-color: navy !important;
}

.offcanvas-header + .offcanvas-header.offcanvas-success {
	background-color: darkgreen !important;
}

.offcanvas-footer {
	color: #fff !important;
	background-color: rgba(13, 110, 253, 1) !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas-footer.offcanvas-danger {
	background-color: darkred !important;
}

.modal {
	--bs-modal-border-radius: 16px;
	--bs-modal-inner-border-radius: calc(16px - 1px);
}

.modal .nav.nav-tabs,
.offcanvas .nav.nav-tabs {
	background-color: rgba(0, 0, 0, 0.03);
}

.modal-header {
	color: #fff !important;
	background-color: rgba(13, 110, 253, 1) !important;
}

.modal-backdrop {
	--bs-backdrop-bg: rgb(17 24 39 / 1);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	box-shadow: inset 1px 25px 11px -32px #0d6efd;
}

.nav-link:focus,
.nav-link:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.rcs-custom-scroll .rcs-inner-handle {
	background-color: #6c757d;
}

/* LOADING */
.spinner-wrapper {
	position: relative;
	height: 100%;
}

.spinner-wrapper .loading {
	position: fixed;
	z-index: 999999;
}
/* LOADING */
/* SIDEBAR */
.sidebar-app nav a,
.sidebar-app nav button {
	padding: 7px 20px;
	line-height: 20px;
	/* color: #2f4050c0; */
	color: rgba(153, 153, 153, 0.8);
	display: block;
	text-decoration: none;
	border: none;
	background-color: transparent;
	user-select: none;
}

.sidebar-app nav {
	display: block;
	overflow-y: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.sidebar-app nav a:hover {
	color: #000;
}

.sidebar-app nav a.active,
.sidebar-app nav a.active:hover {
	color: #0d6efd;
}

.sidebar-app nav button.active,
.sidebar-app nav button.active:hover {
	color: #000;
}

.sidebar-app nav a:hover,
.sidebar-app nav button:hover {
	color: #000;
}

.sidebar-app nav .sub-menu {
	margin: 0;
	padding: 0;
	padding-left: 15px;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
}

.sidebar-app nav .sub-menu a {
	padding: 5px 20px 5px 15px;
	display: block;
	color: rgba(153, 153, 153, 0.8);
	text-decoration: none;
	position: relative;
}

.sidebar-app nav .sub-menu a:hover {
	color: #000;
}

.sidebar-app nav .sub-menu a.active {
	color: #0d6efd;
}

.sidebar-app nav button.has-sub {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
}

.sidebar-app nav button.has-sub::after {
	position: absolute;
	content: "";
	width: 0.5em;
	height: 0.5em;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: initial;
	right: 1em;
	transform: rotate(-45deg) translate(0, -50%);
	transform-origin: top;
	top: 50%;
	transition: all 0.3s ease-out;
}

.sidebar-app nav button.has-sub.active::after {
	transform: rotate(-135deg) translate(0, -50%);
}

.sidebar-app .nav-footer {
	text-align: center;
	line-height: 20px;
	color: #2f4050;
	font-weight: 600;
	list-style: none;
	padding: 10px;
}

.sub-menu .has-sub {
	padding: 5px 20px 5px 15px;
}

/* Inverter Sidebar */

.sidebar-app.sidebar-inverted nav a *:not(span),
.sidebar-app.sidebar-inverted nav button *:not(span) {
	width: 1.5rem;
	height: 1.5rem;
}

.sidebar-app.sidebar-inverted nav a,
.sidebar-app.sidebar-inverted nav button {
	color: #9da9bb;
	display: flex;
	align-items: center;
	justify-content: left;
}

.sidebar-app.sidebar-inverted nav a:hover {
	color: #edf2f9;
}

.sidebar-app.sidebar-inverted nav a.active,
.sidebar-app.sidebar-inverted nav a.active:hover {
	color: #edf2f9;
}

.sidebar-app.sidebar-inverted nav button.active,
.sidebar-app.sidebar-inverted nav button.active:hover {
	color: #edf2f9;
}

.sidebar-app.sidebar-inverted nav a:hover,
.sidebar-app.sidebar-inverted nav button:hover {
	color: #edf2f9;
}

.sidebar-app.sidebar-inverted nav .sub-menu {
	background-color: transparent;
}

.sidebar-app.sidebar-inverted nav .sub-menu a {
	color: #9da9bb;
}

.sidebar-app.sidebar-inverted nav .sub-menu a:hover {
	color: #edf2f9;
}

.sidebar-app.sidebar-inverted nav .sub-menu a.active {
	color: #edf2f9;
}

.sidebar-app.sidebar-inverted .nav-footer {
	color: #edf2f9;
}

.sidebar-app {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 220px;
	background-color: #fff;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
	border-right: 1px solid #dae0ec;
	z-index: 1000;
	display: flex;
	line-height: 1rem;
	flex-direction: column;
	transition: all 0.3s ease;
	padding-top: 20px;
	height: calc(100vh - 60px);
}

.sidebar-app.sidebar-inverted {
	background-color: #232e3c;
}

.sidebar-app + .sidebar-app-mobile-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1031;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
	outline: 0;
	display: none;
}

.sidebar-app-mobile-toggled .sidebar-app,
.sidebar-app-mobile-toggled .sidebar-app.sidebar-inverted {
	left: 0;
}

.sidebar-app-mobile-toggled .sidebar-app-mobile-backdrop {
	display: block;
	background: rgba(33, 40, 55, 0.5);
}

@media (max-width: 1200px) {
	.sidebar-app,
	.sidebar-app.sidebar-inverted {
		top: 0;
		left: -220px;
		border-right: none;
		z-index: 1130;
		height: 100vh;
	}
}
/* SIDEBAR */
/* KEYBOARD */
kbd {
	font-family: Consolas, "Lucida Console", monospace;
	display: inline-block;
	border-radius: 3px;
	padding: 0px 4px;
	box-shadow: 1px 1px 1px #777;
	margin: 2px;
	font-size: small;
	vertical-align: text-bottom;
	background: #eee;
	font-weight: 500;
	color: #555;
	cursor: pointer;
	font-variant: small-caps;
	font-weight: 600;

	/* This two work */
	/* letter-spacing: 0.5px; */
	letter-spacing: 1px;

	/* Prevent selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

kbd:hover,
kbd:hover * {
	color: black;
	/* box-shadow: 1px 1px 1px #333; */
}
kbd:active,
kbd:active * {
	color: black;
	box-shadow: 1px 1px 0px #ddd inset;
}

kbd kbd {
	padding: 0px;
	margin: 0 1px;
	box-shadow: 0px 0px 0px black;
	vertical-align: baseline;
	background: none;
}

kbd kbd:hover {
	box-shadow: 0px 0px 0px black;
}

kbd:active kbd {
	box-shadow: 0px 0px 0px black;
	background: none;
}

/* Deep blue */
kbd.deep-blue,
.deep-blue kbd {
	background: steelblue;
	color: #eee;
}

kbd.deep-blue:hover,
kbd.deep-blue:hover *,
.deep-blue kbd:hover {
	color: white;
}

/* Dark apple */
kbd.dark-apple,
.dark-apple kbd {
	background: black;
	color: #ddd;
}

kbd.dark-apple:hover,
kbd.dark-apple:hover *,
.dark-apple kbd:hover {
	color: white;
}

/* Type writer */
kbd.type-writer,
.type-writer kbd {
	border-radius: 10px;
	background: #333;
	color: white;
}
/* KEYBOARD */
/* AVATAR */
.avatar {
	display: inline-block;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	background-color: #ffffff;
	border-radius: 6px;
	flex-shrink: 0;
	box-shadow: 0 0 0 1px rgba(27, 31, 36, 0.15);
	object-fit: contain;
	/* padding: 4px; */
}

.avatar-initials {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 600;
	pointer-events: none;
	text-transform: uppercase;
	border-radius: 0.5rem;
}

.avatar .avatar-initials {
	color: #377dff;
	background-color: rgba(55, 125, 255, 0.1);
}

.avatar-profile {
	position: relative;
	display: inline-block;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 0.5rem;
}

.avatar-img {
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.avatar-uploader-trigger {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.2s;
}

.avatar-xxl {
	width: 7.875rem;
	height: 7.875rem;
}

.avatar-xxxl {
	height: 10.5rem;
	width: 10.5rem;
}

.avatar-circle {
	border-radius: 50%;
}

.avatar-circle .avatar-img {
	border-radius: 50%;
}

.avatar-uploader-icon {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #677788;
	background-color: #fff;
}

.avatar-xxl .avatar-uploader-icon {
	width: 2.40625rem;
	height: 2.40625rem;
}

.avatar-xxxl .avatar-uploader-icon {
	width: 3.2083rem;
	height: 3.2083rem;
}

.avatar-uploader:hover .avatar-uploader-icon {
	color: #fff;
	background-color: #377dff;
}

.avatar img {
	object-fit: cover;
}

.avatar .avatar-name,
.avatar img {
	width: 100%;
	height: 100%;
}

.avatar img {
	display: block;
}
/* AVATAR */
/* BUTTON NEUTRAL */
.btn {
	--bs-btn-border-radius: 6px;
}

.btn-neutral {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #4d5969;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #4d5969;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	gap: 0.5rem;
}

[data-bs-theme="dark"] .btn-neutral {
	--bs-btn-color: #f8f9fa;
	--bs-btn-bg: rgba(255, 255, 255, 0.15);
	--bs-btn-border-color: rgba(255, 255, 255, 0.15);
}

.btn-neutral-primary {
	--bs-btn-color: #3874ff;
	--bs-btn-bg: #f5f7fa;
	--bs-btn-border-color: #e3e6ed;
	--bs-btn-hover-color: #004dff;
	--bs-btn-hover-bg: #e3e6ed;
	--bs-btn-hover-border-color: #e6e9ef;
	--bs-btn-focus-shadow-rgb: 201, 213, 240;
	--bs-btn-active-color: #3874ff;
	--bs-btn-active-bg: #e3e6ed;
	--bs-btn-active-border-color: #e6e9ef;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	--bs-btn-disabled-color: #000000;
	--bs-btn-disabled-bg: #f5f7fa;
	--bs-btn-disabled-border-color: #e3e6ed;
	display: flex;
	gap: 0.5rem;
}

.btn-neutral-secondary {
	--bs-btn-color: #31374a;
	--bs-btn-bg: #f5f7fa;
	--bs-btn-border-color: #e3e6ed;
	--bs-btn-hover-color: #222834;
	--bs-btn-hover-bg: #e3e6ed;
	--bs-btn-hover-border-color: #e6e9ef;
	--bs-btn-focus-shadow-rgb: 200, 204, 213;
	--bs-btn-active-color: #31374a;
	--bs-btn-active-bg: #e3e6ed;
	--bs-btn-active-border-color: #e6e9ef;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	--bs-btn-disabled-color: #000000;
	--bs-btn-disabled-bg: #f5f7fa;
	--bs-btn-disabled-border-color: #e3e6ed;
	display: flex;
	gap: 0.5rem;
}

.btn-neutral-success {
	--bs-btn-color: #25b003;
	--bs-btn-bg: #f5f7fa;
	--bs-btn-border-color: #e3e6ed;
	--bs-btn-hover-color: #23890b;
	--bs-btn-hover-bg: #e3e6ed;
	--bs-btn-hover-border-color: #e6e9ef;
	--bs-btn-focus-shadow-rgb: 199, 222, 202;
	--bs-btn-active-color: #25b003;
	--bs-btn-active-bg: #e3e6ed;
	--bs-btn-active-border-color: #e6e9ef;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	--bs-btn-disabled-color: #000000;
	--bs-btn-disabled-bg: #f5f7fa;
	--bs-btn-disabled-border-color: #e3e6ed;
	display: flex;
	gap: 0.5rem;
}

.btn-neutral-danger {
	--bs-btn-color: #ed2000;
	--bs-btn-bg: #f5f7fa;
	--bs-btn-border-color: #e3e6ed;
	--bs-btn-hover-color: #cc1b00;
	--bs-btn-hover-bg: #e3e6ed;
	--bs-btn-hover-border-color: #e6e9ef;
	--bs-btn-focus-shadow-rgb: 229, 200, 201;
	--bs-btn-active-color: #ed2000;
	--bs-btn-active-bg: #e3e6ed;
	--bs-btn-active-border-color: #e6e9ef;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	--bs-btn-disabled-color: #000000;
	--bs-btn-disabled-bg: #f5f7fa;
	--bs-btn-disabled-border-color: #e3e6ed;
	display: flex;
	gap: 0.5rem;
}

.btn-neutral-warning {
	--bs-btn-color: #e5780b;
	--bs-btn-bg: #f5f7fa;
	--bs-btn-border-color: #e3e6ed;
	--bs-btn-hover-color: #d6700a;
	--bs-btn-hover-bg: #e3e6ed;
	--bs-btn-hover-border-color: #e6e9ef;
	--bs-btn-focus-shadow-rgb: 227, 214, 203;
	--bs-btn-active-color: #e5780b;
	--bs-btn-active-bg: #e3e6ed;
	--bs-btn-active-border-color: #e6e9ef;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	--bs-btn-disabled-color: #000000;
	--bs-btn-disabled-bg: #f5f7fa;
	--bs-btn-disabled-border-color: #e3e6ed;
	display: flex;
	gap: 0.5rem;
}

.btn-neutral-info {
	--bs-btn-color: #0097eb;
	--bs-btn-bg: #f5f7fa;
	--bs-btn-border-color: #e3e6ed;
	--bs-btn-hover-color: #0080c7;
	--bs-btn-hover-bg: #e3e6ed;
	--bs-btn-hover-border-color: #e6e9ef;
	--bs-btn-focus-shadow-rgb: 193, 218, 237;
	--bs-btn-active-color: #0097eb;
	--bs-btn-active-bg: #e3e6ed;
	--bs-btn-active-border-color: #e6e9ef;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	--bs-btn-disabled-color: #000000;
	--bs-btn-disabled-bg: #f5f7fa;
	--bs-btn-disabled-border-color: #e3e6ed;
	display: flex;
	gap: 0.5rem;
}

.btn-neutral-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #4d5969;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #4d5969;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-neutral-primary-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #3874ff;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #004dff;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-neutral-secondary-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #31374a;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #222834;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-neutral-success-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #25b003;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #23890b;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-neutral-danger-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #ed2000;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #cc1b00;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-neutral-warning-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #e5780b;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #d6700a;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-neutral-info-icon {
	--bs-btn-font-weight: 400;
	--bs-btn-color: #0097eb;
	--bs-btn-bg: #fff;
	--bs-btn-border-color: rgba(209, 213, 219, 1);
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #0080c7;
	--bs-btn-hover-bg: rgba(249, 250, 251, 1);
	--bs-btn-hover-border-color: rgba(209, 213, 219, 1);
	--bs-btn-focus-shadow-rgb: 209, 213, 219;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: rgba(240, 240, 251, 1);
	--bs-btn-active-border-color: rgba(209, 213, 219, 1);
	--bs-btn-disabled-border-color: rgba(209, 213, 219, 1);
	display: flex;
	align-items: center;
}

.btn-outline-neutral {
	--bs-btn-font-weight: 500;
	--bs-btn-color: #000;
	--bs-btn-bg: transparent;
	--bs-btn-border-color: #f9fafd;
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-color: #4d5969;
	--bs-btn-hover-bg: #f9fafd;
	--bs-btn-hover-border-color: #f9fafd;
	--bs-btn-focus-shadow-rgb: 249, 250, 253;
	--bs-btn-active-color: #4d5969;
	--bs-btn-active-bg: #f9fafd;
	--bs-btn-active-border-color: #f9fafd;
}
/* BUTTON NEUTRAL */
/* CARD */
.card {
	--bs-card-border-radius: 9px;
	--bs-card-inner-border-radius: 9px;
	/* --bs-card-box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
		0 3px 6px 0 rgba(0, 0, 0, 0.07); */
	/* box-shadow: var(--bs-card-box-shadow); */
}
/* CARD */
/* TABLE */
.card > div > .table-data > table.table thead tr th {
	border-top: none;
}

.table-data.table-virtual > .table > :not(caption) > * > * {
	padding: 0 !important;
}

.table-data > table.table thead tr th {
	/* border-top: 1px solid #dde2eb; */
	background-color: white;
}

.table-data > .table > :not(caption) > * > * {
	padding: 0.75rem 0.75rem;
	background-color: #f5f8fa;
	border-bottom-width: 0.0625rem;
	box-shadow: inset 0 0 0 9999px transparent;
}

.table-data > .table-light th {
	background-color: #f8fafd;
}
/* TABLE */
/* LIST */
.list-group {
	--bs-list-group-border-radius: 9px;
}
/* LIST */
/* NAV FLICKING */
.nav-wrapper {
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 1px solid rgba(209, 213, 219, 1);
}

.nav.nav-flip {
	flex-wrap: nowrap;
}

.nav.nav-flip .btn {
	margin-right: 0.5rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.nav.nav-flip .btn:last-child {
	margin-right: 0;
}
/* NAV FLICKING */
/* CSS CLASS */
.flex-stack {
	justify-content: space-between;
	align-items: center;
}

.min-w-400 {
	min-width: 400px;
}

@media (max-width: 576px) {
	.min-w-400 {
		min-width: 100%;
	}
}
/* CSS CLASS */
/* REACT-SELECT */
[data-bs-theme="dark"] .rc-select__control {
	background-color: transparent;
}

[data-bs-theme="dark"] .rc-select__single-value {
	color: var(--bs-body-color);
}

.rc-select__control {
	border-radius: var(--bs-border-radius) !important;
}

.rc-select__control.rc-select__control--is-focused {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.rc-select__menu {
	z-index: 1030 !important;
}
/* REACT-SELECT */
/* LOADER LOTTIE */
[data-bs-theme="light"] .lottie-wrapper {
	background-color: #052c65;
}

[data-bs-theme="dark"] .lottie-wrapper {
	background-color: #212529;
}
/* LOADER LOTTIE */
/* REACT-DATEPICKER */
/* .react-datepicker-wrapper {
	width: 100%;
}

.input-group > .react-datepicker-wrapper {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group:not(.has-validation) > .react-datepicker-wrapper:not(:last-child) .btn.btn-neutral {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .react-datepicker-wrapper:not(:first-child) .btn.btn-neutral {
	margin-left: calc(var(--bs-border-width) * -1);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
} */
.react-datepicker__container {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.react-datepicker__container .react-datepicker__pre-dates .list-group-item {
	border-left: none;
	border-right: none;
	border-top: none;
}

.react-datepicker__container
	.react-datepicker__pre-dates
	.list-group-item:first-child,
.react-datepicker__container
	.react-datepicker__pre-dates
	.list-group-item:last-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.react-datepicker {
	border: none;
	border-left: 1px solid #c4c8cb;
	border-radius: 0px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	overflow: hidden;
}

.react-datepicker__header {
	padding: 8px;
}

.react-datepicker__tab-loop {
	display: contents;
}

.react-datepicker__day--today {
	position: relative;
}

.react-datepicker__day--today::after {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--bs-primary);
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) !important;
}

.react-datepicker__day--outside-month {
	color: #adb5bd;
	font-style: italic;
}

.react-datepicker__day-name {
	text-transform: capitalize;
	font-weight: bold;
}

.react-datepicker__month {
	margin: 0.5rem;
}

.react-datepicker__day-names {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
	justify-content: space-evenly;
}

.react-datepicker__month .react-datepicker__week {
	display: flex;
	justify-content: space-evenly;
}

.react-datepicker__day--selected {
	background-color: #0d6efd;
}

.react-datepicker__day--selected:hover {
	background-color: #0b5ed7;
}
/* REACT-DATEPICKER */
/* NOTIFY */
[data-bs-theme="light"] .notify-body {
	background-color: #232e3c;
	color: #fff;
}

.notify-wrapper {
	white-space: normal !important;
}
/* NOTIFY */
/* LEAFLET MAP */
.leaflet-control-attribution {
	display: none !important;
}
/* LEAFLET MAP */
/* SUNEDITOR */
.sun-editor {
	font-family: "Nunito Sans", sans-serif;
	border-radius: 0.375rem;
}

.sun-editor .se-container {
	border-radius: 0.375rem;
}

.sun-editor .se-toolbar {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}

.sun-editor .se-resizing-bar {
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}

.sun-editor .se-btn-tray {
	padding: 10px;
}

.sun-editor .se-tooltip .se-tooltip-inner .se-tooltip-text {
	background-color: #000;
	border-radius: 0.375rem;
	max-width: 200px;
	padding: 0.25rem 0.5rem;
	text-align: center;
	font-family: "Nunito Sans", sans-serif;
}
/* SUNEDITOR */
